{% extends 'base_print.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    {% if permit.permit_type == 'issue' %}
        طباعة إذن صرف
    {% else %}
        طباعة إذن استلام
    {% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 text-center mb-4">
                            <h2>
                                {% if permit.permit_type == 'issue' %}
                                    إذن صرف مخزني
                                {% else %}
                                    إذن استلام مخزني
                                {% endif %}
                            </h2>
                            <h4>رقم: {{ permit.number }}</h4>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-bordered">
                                <tr>
                                    <th style="width: 30%">رقم الإذن</th>
                                    <td>{{ permit.number }}</td>
                                </tr>
                                <tr>
                                    <th>نوع الإذن</th>
                                    <td>
                                        {% if permit.permit_type == 'issue' %}
                                            إذن صرف
                                        {% else %}
                                            إذن استلام
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>التاريخ</th>
                                    <td>{{ permit.date|date:"Y-m-d H:i" }}</td>
                                </tr>
                                <tr>
                                    <th>المخزن</th>
                                    <td>{{ permit.store.name }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-bordered">
                                <tr>
                                    <th style="width: 30%">
                                        {% if permit.permit_type == 'issue' %}
                                            المستلم
                                        {% else %}
                                            المرسل
                                        {% endif %}
                                    </th>
                                    <td>{{ permit.person_name }}</td>
                                </tr>
                                <tr>
                                    <th>السائق</th>
                                    <td>{{ permit.driver.name|default:"-" }}</td>
                                </tr>
                                <tr>
                                    <th>المندوب</th>
                                    <td>{{ permit.representative.name|default:"-" }}</td>
                                </tr>
                                <tr>
                                    <th>الرقم المرجعي</th>
                                    <td>{{ permit.reference_number|default:"-" }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    
                    <div class="row mt-4">
                        <div class="col-12">
                            <h4>بنود الإذن</h4>
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>المنتج</th>
                                        <th>الوحدة</th>
                                        <th>الكمية</th>
                                        <th>ملاحظات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in permit.items.all %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ item.product.name }}</td>
                                        <td>{{ item.product_unit.unit.name }}</td>
                                        <td>{{ item.formatted_quantity }}</td>
                                        <td>{{ item.notes|default:"-" }}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="5" class="text-center">لا توجد بنود</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    {% if permit.notes %}
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>ملاحظات</h5>
                                </div>
                                <div class="card-body">
                                    {{ permit.notes }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
                    <div class="row mt-5">
                        <div class="col-4 text-center">
                            <p>توقيع المستلم</p>
                            <div style="border-top: 1px solid #000; margin-top: 50px;"></div>
                        </div>
                        <div class="col-4 text-center">
                            <p>توقيع أمين المخزن</p>
                            <div style="border-top: 1px solid #000; margin-top: 50px;"></div>
                        </div>
                        <div class="col-4 text-center">
                            <p>توقيع المدير</p>
                            <div style="border-top: 1px solid #000; margin-top: 50px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
